*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: top;
}

.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-top: 20px;
}

.titulo h3{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 50px;
}

.opcao form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.opcao select{
    width: 550px;
}

.opcao button{
    margin-top: 10px;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
}

@media(max-width:769px){
    body{
        background-size: auto;
        
    }

    .logo img{
        width: 350px;
    }

    .titulo h3{
        margin-top: 50px;
        font-size: 25px;
        margin-bottom: 50px;
    }
}

@media(max-width:425px){
    
    .logo img{
        width: 250px;
    }

    .titulo h3{
        margin-top: 30px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .opcao select{
        width: 350px;
    }

    .opcao button{
        margin-top: 10px;
        width: 100px;
        font-weight: bold;
        font-size: 15px;
    }
}

@media (max-width:320px) {
    .titulo h3{
        margin-top: 60px;
        font-size: 13px;
        margin-bottom: 60px;
    }
}